<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Sentiment Recognition</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css" />
</head>
<body>
    <div class="uk-container uk-width-1-1 uk-padding uk-flex uk-flex-column uk-flex-center uk-flex-middle" uk-height-viewport>
        <h1 class="uk-text-center">Text Sentiment Recognition</h1>
        <h2 class="uk-text-center">Enter your movie review and our model will predict your sentiment!</h2>
        <form class="uk-width-1-2" action="javascript:void(0);" oninput="predict(this)">
            <div class="uk-margin">
                <textarea class="uk-textarea" cols="30" rows="10" placeholder="Enter your review here..." name="review"></textarea>
            </div>
        </form>
        <h3 id="result" class="uk-text-center">The prediction will appear here</h3>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
