{% extends "base.html" %}

{% block title %}
MovieFlix - Login
{% endblock %}

{% block content %}
{% if fail %}
<div class="uk-alert-danger" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>Invalid credentials. Please try again</p>
</div>
{% endif %}
<div class="uk-container uk-margin-remove uk-flex uk-flex-center uk-flex-middle uk-width-1-1" uk-height-viewport="offset-top: true">
    <div>
        <form action="/register" method="POST">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Enter your credentials</legend>
                <div class="uk-margin">
                    <input class="uk-input" type="text" name="name" placeholder="Name">
                </div>
                <div class="uk-margin">
                    <input class="uk-input" type="email" name="email" placeholder="E-Mail">
                </div>
                <div class="uk-margin">
                    <input class="uk-input" type="password" name="password" placeholder="Password">
                </div>
                <button class="uk-button uk-button-primary uk-width-1-1" type="submit">REGISTER</button>
            </fieldset>
        </form>
        <a class="uk-link-muted" href="/login">Click here if you already have an account</a>
    </div>
</div>
{% endblock %}
